[Unit]
Description=Service to get coords from GCS
After=network.target
Wants=network.target

[Service]
Type=simple
WorkingDirectory=/home/forge/uavf_2025/uavf_2025/gnc/gcs
ExecStart=/usr/bin/env python3 upload_coord_server.py
User=forge
Group=forge
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target

